body {
    background: #ffffff;
}
#AppBase {
    width: 400px;
    margin: 10px auto;
    padding: 0;
    outline: 1px solid #808080;
}
#AppContainer {
    width: 400px;
    margin: 0;
    padding: 0;
}
h1 {
    width:100%;
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #808080;
}
ul {
    margin: 1em 0 0 0;
    padding:0;
    list-style-type: none;
    width: 400px;
}
li {
    margin-bottom: .5em;
    padding: 0 0 .5em 1em;
    border-bottom: 1px solid #dedede;
}

#names table, th, td {
    border: 1px solid black;
}
